/*code from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0px; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}
.header{
  text-align: center;
  font-family: 'Allan';
  font-size: 50px;
}
.sidebar .account{
  padding-bottom: 50px;
  top: 0;

}

#createActBtn, #loginBtn, #profile, #logout, #home, #extra{
  background-color: blueviolet;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.create{
  text-align: center;
  font-family: 'Allan';
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.container{
  width: 100%
}

.todoInput{
  width: 75%;
}
.picture{
  padding-left: 200px;
}
.box{
  padding-left: 500px;
}
.galleryImages{
  padding-left: 200px;
}
#command{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}
.center{
  text-align: center;
}